/* LIST #5 */

.checkbox-grid li {
    display: block;
    float: left;
    width: 25%;
    color:#000000;
   
    padding-bottom: 2em;

}
#list5 { color:#606060;font-size:28px;text-align: center;padding-top: 15cm; padding:15px 0 15px 15px; }
